<nav class="navbar navbar-expand-sm menu-bar">
  <a class="navbar-brand" href="/">BIBI</a>

  <div class="navbar-collapse collapse justify-content-stretch">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="" target="_blank">
          <div class="menu-bar__item">
              <div class="menu-bar__icon menu-bar__icon--home"></div>
              <div class="menu-bar__label">BIBI</div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" target="_blank">
          <div class="menu-bar__item">
              <div class="menu-bar__icon menu-bar__icon--access"></div>
              <div class="menu-bar__label">Access</div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" target="_blank">
          <div class="menu-bar__item">
            <div class="menu-bar__icon menu-bar__icon--support"></div>
            <div class="menu-bar__label">Support</div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" target="_blank">
          <div class="menu-bar__item">
              <div class="menu-bar__icon menu-bar__icon--db-tableau"></div>
              <div class="menu-bar__label">dbTableau</div>
          </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="" target="_blank">
          <div class="menu-bar__item">
              <div class="menu-bar__icon menu-bar__icon--admin"></div>
              <div class="menu-bar__label">Admin</div>
          </div>
        </a>
      </li>
    </ul>
  </div>
</nav>
