.workbook-overview {

    &__sidebar-left-title {
        border-bottom: 2px solid #43556a;
        margin: 0 15px 20px 0;
        padding: 4px 0;
    }

    &__centre-panel-title {
        font-size: 18px;
        background: #26394E;
        padding: 10px 0 10px 22px;
    }

    &__centre-report {
        background-color: #3e536b;
        margin: 8px 4px;
        min-height: 200px;
        padding: 4px;
        position: relative;
    }

}
